@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h2>Are you sure you want to delete the @Html.DisplayFor(model => model.Description) flavor?</h2>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<hr />
@Html.ActionLink("See all flavors", "Index")